
html
 head
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="js/chat.js")
    //- script(src='/socket.io/socket.io.js')
    script(src='https://cdn.socket.io/socket.io-1.0.0.js')
  body
    container
      block content 